* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  color: #313332; }

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  width: 100%;
  padding: 12px;
  float: left; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

/*	HEADER	 */
header {
  background-color: #252726;
  height: 50px; }
  header nav img {
    padding: 10px 0; }
  header nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        line-height: 50px;
        padding: 0 20px;
        display: block;
        color: #FFFFFF;
        text-decoration: none;
        text-transform: uppercase; }
      header nav ul li:hover {
        color: #00C7E8; }

/*	HERO	 */
.hero {
  height: 300px;
  background: url(https://images.pexels.com/photos/113850/pexels-photo-113850.jpeg?h=350&auto=compress&cs=tinysrgb);
  background-size: cover; }

.slogan {
  background: rgba(128, 127, 125, 0.4);
  padding: 10px;
  margin-top: 50px;
  width: 450px;
  float: right;
  max-width: 800px;
  color: #FFFFFF; }
  .slogan:first-line {
    font-weight: normal; }

/*	BENEFITS	 */
section .container {
  margin: 50px auto;
  text-align: center;
  display: block; }

h3 {
  text-transform: uppercase; }

.icons i {
  display: inline-block;
  background-color: #313332;
  width: 130px;
  height: 130px;
  line-height: 130px;
  color: #FFFFFF;
  border-radius: 15%;
  margin: 0 auto;
  cursor: pointer;
  font-size: 80px; }
.icons:hover {
  cursor: pointer; }
  .icons:hover i {
    background-color: #00C7E8; }
  .icons:hover h3 {
    color: #00C7E8; }

/*	WORKS	 */
.works {
  text-align: center;
  color: #313332; }

/*	GALLERY	 */
.img {
  position: relative;
  float: left;
  padding: 0; }
  .img:hover {
    opacity: 0.8;
    cursor: pointer; }
    .img:hover .layer {
      display: flex;
      justify-content: space-around;
      align-items: center; }

.gallery img {
  width: 100%;
  display: block; }

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .layer .fa {
    color: #FFFFFF; }

/*	WORKERS	 */
.workers {
  text-align: center;
  margin: 50px auto; }
  .workers img {
    border-radius: 50%; }

.person {
  position: relative; }
  .person p {
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center; }
  .person:hover p {
    display: flex;
    color: #00C7E8; }
  .person:hover {
    opacity: 0.6;
    cursor: pointer; }

/*	PICTURE	 */
.picture {
  background-color: #FFFFFF;
  border-top: 5px solid #00C7E8;
  border-bottom: 5px solid #00C7E8; }
  .picture img {
    float: right;
    height: 300px; }

/* NUMBERS	 */
.numbers {
  text-align: center; }
  .numbers h1 {
    color: #313332;
    font-size: 50px;
    font-weight: bold;
    Font-family: Anton; }
  .numbers p {
    text-transform: uppercase;
    color: #00C7E8;
    font-size: 24px;
    font-weight: 400;
    Font-family: Anton; }

/*	FOOTER	 */
section.address {
  background-color: #313332; }

.address {
  background-color: #313332; }
  .address [class*='col-'] {
    padding: 0 20px; }
  .address .row {
    color: #FFFFFF;
    text-align: justify;
    margin-bottom: 20px; }
  .address p {
    margin: 0; }
  .address .container {
    padding-top: 20px;
    padding-bottom: 40px; }
    .address .container .row {
      margin-bottom: 0; }

/* social */
.social {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
  float: left; }

.icon-btn {
  background-color: #00C7E8;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
  font-size: 25px;
  line-height: 50px; }
  .icon-btn:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;
    color: #00C7E8; }

footer {
  background-color: #252726;
  text-align: center;
  color: #FFFFFF; }

/*tablets */
@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
h1 {
  font-size: 20px;
  font-weight: 800; }

header {
  height: 30px;
  text-align: center; }
  header nav img {
    padding: 0; }
  header nav ul {
    float: none;
    margin-top: auto;
    padding: 0; }
    header nav ul li {
      display: block; }
      header nav ul li a {
        line-height: 15px;
        padding: 10px 0;
        display: block;
        color: #FFFFFF;
        text-decoration: none;
        text-transform: uppercase; }

/*	HERO	 */
.hero {
  height: 280px;
  background: url(https://images.pexels.com/photos/113850/pexels-photo-113850.jpeg?h=350&auto=compress&cs=tinysrgb); }

.slogan {
  background: rgba(128, 127, 125, 0.7);
  padding: 0 15px;
  margin-top: 130px;
  height: 18vh;
  width: 100vw; }

/*	BENEFITS	 */
section > .container {
  margin: 10px auto; }

.icons i {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px; }

/*	GALLERY	 */
.img {
  position: relative;
  float: left;
  padding: 0; }
  .img .layer {
    display: flex;
    justify-content: space-around;
    align-items: center; }

.gallery img {
  width: 100%;
  display: block; }

.layer {
  background-color: transparent; }

/*	WORKERS	 */
.workers img {
  border-radius: 50%;
  width: 100%; }

.person p {
  position: relative;
  display: flex;
  color: #00C7E8; }

/*	PICTURE	 */
.picture img {
  float: none;
  height: 30vh; }

/* NUMBERS	 */
.numbers {
  text-align: center; }
  .numbers h1 {
    font-size: 30px; }

/*	FOOTER	 */
.address .row {
  margin-bottom: 10px; }
.address [class*='col-'] {
  padding: 0px 10px;
  padding-bottom: 15px; }

/* social */
.social {
  margin: 10 auto;
  margin-top: 20px;
  float: none; }
